table{
    border-collapse: collapse;
}

tr{
    border: 0px;
    height: 100px;
    
    padding-left: 10px;
    padding-right: 10px;
}
tr:hover{
    background-color: #7AFDD6;
}
tr td{
    border: none;
}

